@page
@model WebRazor.Pages.RentingDetail.DetailsModel

@{
    ViewData["Title"] = "Details";
    var name = HttpContext.Session.GetString("customerId");
    var detailPage = "/RentingDetail/Index";

}

<h1>Details</h1>

<div>
    <h4>RentingDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentingDetail.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentingDetail.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentingDetail.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentingDetail.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentingDetail.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentingDetail.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentingDetail.RentingDetailStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentingDetail.RentingDetailStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentingDetail.Car)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentingDetail.Car.CarName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentingDetail.RentingTransaction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentingDetail.RentingTransaction.RentingStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="@detailPage" asp-route-id="@name">Back to List</a>
</div>
